---
import DateDisplay from "@components/DateDisplay.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={Astro.url.pathname}>
    <a href="javascript:history.back()" class="back-link">../</a>
	<h2>{frontmatter.title}</h2>
	<span>
		<i>
		<DateDisplay date={frontmatter.date}/>
		</i>
	</span>
	<!-- <span class="tags">
		{#each tags as tag, index}
			<a href="/tag/{tag}" class="tag-link">{tag}</a>{#if index != tags.length - 1}<span
					>,
				</span>{/if}
		{/each}
	</span> -->
	<br /><br />

	<slot />
</BaseLayout>